@media (max-width: 900px) {
  .cards {
    display: none;
  }
  .button-container {
    display: none;
  }

  .btn_cards_mobile h2.header {
    margin: 0 0 30px 0;
  }

  .content_atl {
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: $cor-border;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: $light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content_atl:hover {
    color: $light;
  }

  .content_atl:hover a {
    border-color: white;
    background: $btn_ver_mais_hover;
  }

  .content_atl > * {
    flex: 1 1 100%;
  }

  .content_atl h2 {
    font-size: 24px;
    font-weight: bold;
    color: $dark;
    margin: 30px 0px 50px 0;
  }

  .content h2 {
    font-size: 24px;
    margin: 10px 0;
  }

  .content p {
    font-size: 18px;
    color: $dark;
    line-height: 1.5;
    margin-bottom: 60px;
  }

  .content p {
    font-size: 18px;
    margin: 10px 0;
  }
  .content a {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: $cor-btn_ver_mais;
    font-size: 16px;
    font-weight: bold;
    color: $light;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .btn_cards_mobile {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: $light;
  }
  #imgAtualidades {
    align-items: center;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 900px) {
  .services_atl {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }

  .content_atl-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }

  .content_atl-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
  }

  .content_alt-3 {
    grid-row: 5 / 6;
    grid-column: 1 / 1;
  }
}
