#btn-mobile {
  display: none;
}
#verMais-btn {
  width: 28%;
  padding: 15px;
}
.menu-btn {
  background-color: $cor-btn;
  color: $light;
  border: none;
  padding: 15px;
  width: 33%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.active {
  background-color: $light;
  color: black;
}

@media (max-width: 600px) {
  .menu-toggle {
    display: block;
  }
}
